.app {
  display: flex;
  justify-content: center;
  /* background-color: lightblue; */
  height: 100vh;
}
.content-main {
  display: flex;
  width: 50%;
  height: 100%;
  flex-direction: column;
}
.header-main {
  flex: 1;
  align-items: center;
  border-radius: 5px;
  background-color: lightblue;
  width: 100%;
}

.accordian-main {
  flex: 2;
  width: 100%;
  overflow-y: scroll;
  padding: 5px;
}
.typography{
  font-size: 25;
  font-weight: bold;
}

.accordian-main::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.accordian-main::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

.accordian-main::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}